.wrapper {
  width: 100%;
}


.hero {
  background: #0c3d91;
  color: white;
  text-align: center;
  padding: 60px 20px;
  font-family: "Bebas Neue", sans-serif;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
}


.content {
  background: #f2f2f2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;

  max-width: 1200px;
  margin: auto;
  padding: 80px 20px;
}

.column {
  font-size: 20px;
  color: #123d8b;
  line-height: 1.6;
}

.column p {
  margin-bottom: 30px;
}

.icons {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.boxIcon {
  margin-top: 40px;
}


@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .hero h1 {
    font-size: 32px;
  }
}