@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue.woff2") format("woff2"),
       url("/fonts/BebasNeue-2.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*Для телефонов*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.scrollContainer {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snapSection {
  height: 100vh;
  scroll-snap-align: start;
}
