.card {
  background: #F2F3F4;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.3s;
  display: block;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 280px;
  justify-content: space-between;
}

@media (max-width: 768px){
  .card {
    height: 190px;
  }
}

.card:hover {
  border: 2px solid #F0660A;
}

.cardTitle {
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  font-size: 0.875rem; /* base mobile */
}

@media (min-width: 640px) {
  .cardTitle {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 768px) {
  .cardTitle {
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 150px;
}

@media (min-width: 640px) {
  .imageWrapper {
    height: 170px;
  }
}

@media (min-width: 768px) {
  .imageWrapper {
    height: 200px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0.5rem;
}