.footer {
  @apply w-full bg-[#003399] text-[#F2F3F4];
}

.footerContainer {
  @apply max-w-[1200px] mx-auto px-6 py-16;
}

.footerGrid {
  @apply grid grid-cols-1 md:grid-cols-[auto_1fr] gap-16;
}

.logoContainer {
  @apply hidden md:flex items-start;
}

.logoImage {
  @apply w-[420px] h-auto translate-y-5;
}

/* Основная сетка */
.linksGrid {
  @apply grid grid-cols-1 md:grid-cols-[120px_1fr_1fr] gap-8 md:gap-16 text-base md:text-3xl font-heading;
}

@media (max-width: 768px) {
  .logoContainer {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
}
/* 1 колонка */
.column:nth-child(1) {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  align-self: start;
  align-items: start;
  flex-direction: column;


  }

.column:nth-child(1) a {
    display: inline-block;
    white-space: nowrap;
  }

/* Контакты (3 колонка) */
.column:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-self: start;
  align-items: start;
  margin-right: 1rem;
}

/* Политика (2 колонка) */
.column:nth-child(2) {
  grid-column: 1 / -1;
  grid-row: 2;
  display: flex;
  align-self: start;
  align-items: start;
  flex-direction: column;

}



/* --- Десктоп (>=768px) --- */
@media (min-width: 768px) {
  /* 1 колонка */
  .column:nth-child(1) {
    display: block;
    flex-direction: unset;
    align-items: unset;
    margin-right: 0;
    grid-column: auto;
    grid-row: auto;
  }

  /* 3 колонка */
  .column:nth-child(3) {
    display: block;
    flex-direction: unset;
    align-items: unset;
    margin-right: 0;
    grid-column: auto;
    grid-row: auto;
  }

  /* 2 колонка */
  .column:nth-child(2) {
    display: block;
    flex-direction: unset;
    align-items: unset;
    gap: unset;
    grid-column: auto;
    grid-row: auto;
  }
}


.column {
  @apply space-y-4 md:space-y-6;
}

.link {
  @apply block hover:text-[#F0660A] transition-colors;
}

.contactItem {
  @apply flex items-center gap-4 hover:text-[#F0660A] transition-colors;
}

/* Иконки */
.contactIcon {
  width: 26px;
  height: 26px;
}

@media (max-width: 768px) {
  .contactIcon {
    width: 20px;
    height: 20px;
  }
}