.root {
  min-height: 100vh;
  background: #F2F3F4;
  color: #003399;
  padding: 2rem 1.5rem;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  .root {
    padding: 2rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .root {
    padding: 2rem 1.5rem;
  }
}

/* Заголовок */
.title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.04em;
  line-height: 1;
  margin-bottom: 2rem;
  font-family: "Bebas Neue", sans-serif;
}

@media (min-width: 768px) {
  .title {
    font-size: 60px;
    padding: 25px 0;
    margin-left: 9rem;
  }
}

/* Секция */
 .section {
    margin-top: 10px;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-family: "Legue_spartan", sans-serif;
    margin-left: 2px;
    text-align: justify;
    margin-right: 6px;
  }

@media (min-width: 768px) {
  .section {
    margin-bottom: 2rem;
    font-family: "Legue_spartan", sans-serif;
    font-size: 18px;
    margin-left: 9rem;
    margin-right: 9rem;
    text-align: justify;
  }
}

/* Блок текста */
.item {
  margin-bottom: 1.5rem;
  font-size: 15px;
}

/* Основной пункт */
.mainPoint {
  font-size: 18px;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .mainPoint {
    font-size: 22px;
  }
}

/* Подпункт */
.subPoint {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 18px;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .subPoint {
    font-size: 18px;
  }
}

/* Текст */
.text {
  margin-left: 2rem;
  margin-top: 0.25rem;
  font-size: 18px;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .text {
    font-size: 1.1rem;
  }
}

/* Булет с иконкой */
.bullet {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.bulletText {
  font-size: 18px;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .bulletText {
    font-size: 22px;
  }
}

/* Loader */
.loaderWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2F3F4;
}

.loaderText {
  color: #003399;
  font-size: 1.5rem;
  font-weight: bold;
  animation: pulse 1.5s infinite;
  font-family: "Bebas Neue", sans-serif;
}

@media (min-width: 768px) {
  .loaderText {
    font-size: 2rem;
  }
}

@keyframes pulse {
  0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; }
}