.product {
  padding: 1px 15px 10%;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Заголовок */
.titleWrapper {
  display: flex;
  align-items: center; /* вертикально по центру */
  gap: 50px; /* минимальное расстояние между кнопкой и заголовком */
  margin-left: 145px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.backButton {
  background: transparent;
  border: none;
  color: #003399;
  font-size: 32px;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  transition: color 0.2s ease;
}

.backButton:hover {
  color: #F0660A;
}

.title {
  font-size: 65px;
  font-family: "Bebas Neue", sans-serif;
  color: #003399;
  font-weight: 700;
  letter-spacing: 0.04em;
}

/* Карточка продукта */
.card {
  position: relative;
  background: #003399;
  min-height: 450px;
  display: flex;
  align-items: center;
  padding: 60px 100px 60px 140px;
  margin-left: 370px;
  margin-right: 145px;
  margin-bottom: 50px;
  overflow: visible;
  flex-direction: row;
  border-radius: 8px;
}

/* Картинка */
.imageBlock {
  position: absolute;
  left: -290px;
  bottom: 5px;
  z-index: 2;
  width: 500px;
}

.image {
  width: 100%;
  height: auto;
}


/* Информационный блок */
.infoBlock {
  margin-left: auto;
  color: #f2f2f2;
  width: 350px;
  display: flex;
  flex-direction: column;
}

/* Селекторы */
.selector {
  margin-bottom: 40px;
}

.label {
  font-size: 42px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.04em;
}

.control {
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 0.04em;
  gap: 100px;
}

.controlButton {
  background: transparent;
  border: none;
  color: #f2f2f2;
  font-size: 28px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.controlButton:active {
  color: #F0660A;
}

.controlButton:hover {
  color: #F0660A;
}

.control span {
  min-width: 120px;
  text-align: center;
}

/* Кнопка добавления в корзину */
.addBtn {
  width: 100%;
  height: 80px;
  padding: 18px;
  font-size: 30px;
  border: 2px solid #f2f2f2;
  background: transparent;
  color: #f2f2f2;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 10px;
  border-radius: 8px;
}

.addBtn:hover {
  background: #F0660A;
  border: none;
  color: white;
}

/* ================= Мобильная адаптация ================= */
@media (max-width: 768px) {
  .titleWrapper {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    gap: 16px;
  }

  .backButton {
    font-size: 24px;
  }

  .title {
    font-size: 24px;
  }
  .card {
    flex-direction: column;
    padding: 0 25px 25px;
    margin: 0;
    margin-top: 40px;
    min-height: unset;
    overflow: visible;
    position: relative;

  }

  .imageBlock {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    width: 90%;
    max-width: 200px;
    margin: -100px auto 0 auto;
    z-index: 2;
  }


  .image {
    width: 100%;
    height: auto;
  }

  .infoBlock {
    width: 100%;
    margin-top: 10px;
  }

  .label {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .control {
    font-size: 18px;
  }

  .control button {
    font-size: 24px;
  }

  .control span {
    min-width: 80px;
  }

  .addBtn {
    height: 60px;
    font-size: 24px;
    padding: 12px;
  }
}
