.card {
  background: #F2F3F4;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s;
  flex-direction: column;
  height: 280px;
  justify-content: space-between;
}

@media (max-width: 768px){
  .card {
    height: 190px;
  }
  .imageWrapper {
    margin-left: 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
}

.card:hover {
  border: 2px solid #F0660A;
}

/* Заголовок */
.title {
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  font-size: 0.875rem;
  min-height: 3em;
}

@media (min-width: 640px) {
  .title {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
  }
}

/* Картинка */
.imageWrapper {
  position: relative;
  width: 70%;
  height: 150px;
  flex-shrink: 0;
  margin-left: 35px;
}

@media (min-width: 640px) {
  .imageWrapper {
    height: 170px;
  }
}

@media (min-width: 768px) {
  .imageWrapper {
    height: 200px;
  }
}

.image {
  object-fit: contain;
}